<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <span class="error-inform">
    
  </span>
  <strong>Balance Sheet:</strong>
  <div class="change-dates-form">
    <% @report = 'BalanceSheet' %>
    <%= render 'date_form' %>
  </div>
  <br> 

  <pre class="BalanceSheet-block">
    <%= @balance_sheet %>
  </pre>
</p>

<p>
  <div class="change-dates-form">
    <% @report = 'CashFlow' %>
    <%= render 'date_form' %>
  </div>
  <strong>Cash Flow:</strong>
  <pre class="CashFlow-block">
    <%= @cash_flow %>
  </pre>
</p>

<p>
  <div class="change-dates-form">
    <% @report = 'ProfitAndLoss' %>
    <%= render 'date_form' %>
  </div>
  <strong>Profit And Loss:</strong>
  <% out = "" %>
  <pre class="ProfitAndLoss-block">
    <%= @profit_and_loss %>
  </pre>
</p>

<%= link_to 'Back', companies_path %>
