<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>
<text name="allowed">Today, Yesterday <br>
This Week, This Week-to-date, Last Week, Last Week-to-date, Next Week, Next 4 Weeks <br>
This Month, This Month-to-date, Last Month, Last Month-to-date, Next Month <br>
This Fiscal Quarter, This Fiscal Quarter-to-date, Last Fiscal Quarter, Last Fiscal Quarter-to-date, Next Fiscal Quarter <br>
This Fiscal Year, This Fiscal Year-to-date, Last Fiscal Year, Last Fiscal Year-to-date, Next Fiscal Year</text>
<p>
  <strong>Balance Sheet:</strong>
  <%= form_tag report_ranged_companies_url, method: 'get' do %>
    <%= label_tag(:start_date, "Start date: ") %>
    <%= select_tag(:start_date, options_for_select([['Yesterday', 1], ['Today', 2], ['Beginning of Week', 3], ['Beginning of Last Week', 4], ['Beginning of Month', 5], ['Beginning of Last Month', 6], ['Beginning of Fiscal Quarter', 7], ['Beginning of Last Fiscal Quarter', 8], ['Beginning of Fiscal Year', 9], ['Beginning of Last Fiscal Year', 10]])) %>

    <%= label_tag(:end_date, "End date: ") %>
    <%= select_tag(:end_date, options_for_select([['Yesterday', 1], ['Today', 2], ['End of Week', 3], ['End of Last Week', 4], ['End of Next Week', 5], ['End of Next 4 Weeks', 6], ['End of Month', 7], ['End of Last Month', 8], ['End of Next Month', 9], ['End of Fiscal Quater', 10], ['End of Next Fiscal', 11], ['End of Last Fiscal Quarter', 12], ['End of Fiscal Year', 13], ['End of Last Fiscal Year', 14], ['End of Next Fiscal Year', 15]] )) %>
    <%= submit_tag %>
  <% end %>
  <br> 
  <em>Start Date: </em> <%= Nokogiri::XML(@balance_sheet).xpath('//xmlns:StartPeriod').children.to_s %> - <em>End Date: </em> <%= Nokogiri::XML(@balance_sheet).xpath('//xmlns:EndPeriod').children.to_s %>
  <br>

  <pre>
    <%= @balance_sheet %>
  </pre>
</p>

<p>
  <strong>Cash Flow:</strong>
  <pre>
    <%= @cash_flow %>
  </pre>
</p>

<p>
  <strong>Profit And Loss:</strong>
  <% out = "" %>
  <pre>
    <%= @profit_and_loss %>
  </pre>
</p>

<%= link_to 'Back', companies_path %>
