<!DOCTYPE html>
<html>
  <head>
    <title>Intuit</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <% if !session[:token] %>
      <ipp:connectToIntuit></ipp:connectToIntuit>
    <% else %>
      <p> Logout here: </p>
      <%= link_to "Logout", companies_logout_path %>
    <% end %>

    <% if notice %>
      <div style="padding: 10px;background: gainsboro;font-weight: 900;width: 50%;"><%= notice %></div>
    <% end %>

    <%= yield %>

    <script type="text/javascript" src="https://appcenter.intuit.com/Content/IA/intuit.ipp.anywhere.js"></script>

    <script>
        intuit.ipp.anywhere.setup({menuProxy: '/path/to/blue-dot', grantUrl: '<%= authenticate_companies_url %>'});
    </script>
  </body>
</html>
